{:LAUser.me {:constraint [= :internalUserId :user/uuid]
             :permissions {:modify true
                           :create true
                           :protected-fields ["accessToken" "internalUserId" "email"]}}
 :LALocation.fromUser {:constraint [contains? :users :LAUser.me]
                       :permissions {:modify true
                                     :create false
                                     :writable-fields ["games"]}}
 :LAGame.organisedByUser {:constraint [contains? :organiser :LAUser.me]
                          :permissions {:modify true
                                        :create false}}
 :LATicketsSold.location {:constraint [contains? :location :LALocation.fromUser]
                          :permissions {:modify true
                                        :create false}}
 :LATicketsSold.game {:constraint [contains? :game :LAGame.organisedByUser]
                      :permissions {:modify true
                                    :create false}}
 :LATeam.playedInGame {:constraint [contains? :playedIn :LAGame.organisedByUser]
                       :permissions {:modify true
                                     :create false}}}
